<header class="o-site-header">
  
  <h1 class="o-site-title">
    from my front porch
  </h1>

  <nav class="o-site-nav">
    <ul>
      <li><a class="o-site-nav__item c-link" href="/" title="link">Home</a></li>
      <li><a class="o-site-nav__item c-link" href="#" title="link">About Me</a></li>
      <li><a class="o-site-nav__item c-link" href="#" title="link">Cookbook</a></li>
      <li><a class="o-site-nav__item c-link" href="#" title="link">Around The House</a></li>
      <li><a class="o-site-nav__item c-link" href="#" title="link">Pets</a></li>
      <li><a class="o-site-nav__item c-link" href="#" title="link">Archives</a></li>
    </ul>
  </nav>

</header>
