<header class="c-site-header">
  
  <h1 class="c-site-title">
    from my front porch
  </h1>

  <nav class="c-site-nav">
    <ul>
      <li><a class="c-site-nav__item" href="#" title="link">This</a></li>
      <li><a class="c-site-nav__item" href="#" title="link">Will</a></li>
      <li><a class="c-site-nav__item" href="#" title="link">Eventually</a></li>
      <li><a class="c-site-nav__item" href="#" title="link">Be</a></li>
      <li><a class="c-site-nav__item" href="#" title="link">Looped</a></li>
    </ul>
  </nav>

</header>
