// ----------
//
// site-nav
//
// styles for our site-wide navigation
//
// ----------

.o-site-nav {
  background: $c-white;
  border-bottom: 1px solid shade($c-white,10%);

  ul {
    list-style-type: none;
    margin: 0 0;
    padding: 1rem 0 .6rem;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: 0 1.5rem;
  }
}

.o-site-nav__item {
  border-bottom: 2px dotted transparent;
  color: palette(pink);
  font: {
    family: $f-brand;
    size: 1.5em;
  }
  line-height: 1;
  padding: 0 .25rem;
  text-decoration: none;

  &:hover,&:focus {
    border-bottom-color: palette(pink);
  }
  &:active {
    border-bottom: {
      color: shade(palette(pink),8%);
      style: solid;
    }
    color: shade(palette(pink),8%);
  }
}
