// ----------
//
// sidebar
//
// Styles for the site-wide sidebar
//
// ----------

.o-site-sidebar {
  @include bp($bp-beta) {
    @include column(1/3);
  }
}

.c-author-card {
  padding: 1rem;

  .c-author-card__pic {
    border-radius: 50%;
    display: block;
    height: modular-scale(1rem,5,1.5);
    margin: 0 auto;
    width: modular-scale(1rem,5,1.5);
  }

  .c-author-card__name {
    margin: 1rem auto;
  }

  .c-author-card__description {
    margin-top: 0;
  }
}
