// ----------
//
// global
//
// Global styles
//
// ----------

html {
  background: $c-white;
  color: $c-black;
  font-family: $f-sans;
  line-height: 1.5;
  overflow-y: scroll;
}

main {
  margin: 0 auto;
  max-width: 72em;
  padding: 0 1rem;

  @include clearfix;
}
