// ----------
//
// variables
//
// Project variables. Please keep functions in '_functions.scss'
// and mixins in '_mixins.scss'
//
// ----------

// colors
//    individual colors receive a '$c-' prefix.
//    palettes of colors receive a '$p-' prefix.
$c-white: #fafafa;
$c-black:  #404040;

$p-pastel: ( // main color palette
  green:       #a8f0b8,
  pink:        #ff82ac,
  purple:      #ada6d5,
  purple-dark: #4a4063,
  teal:        #56a3a6,
  yellow:      #f7fe72
);

// fonts
$f-brand: "Shadows Into Light Two", cursive;
$f-sans: "Open Sans", sans-serif;
