// ----------
//
// variables
//
// Project variables. Please keep functions in '_functions.scss'
// and mixins in '_mixins.scss'
//
// ----------

// colors
//    individual colors receive a '$c-' prefix.
//    palettes of colors receive a '$p-' prefix.

$p-pastel: ( // main color palette
  teal:        #56a3a6,
  green:       #a8f0b8,
  yellow:      #f7fe72,
  dark-purple: #4a4063,
  purple:      #ada6d5
);

$c-white: #fafafa;
$c-grey:  #404040;

// fonts
$f-brand: "Quando";
$f-sans: "Open Sans";
