// ----------
//
// card
//
// Main component for our 'card' ui. Currently there are
// two types of cards: '--post' and '--bio'.
//
// All elements and modifiers of the 'card' block belong
// in this file.
//
// ----------

.c-card {
  background: shade($c-white,2%);
  border: 1px solid shade($c-white,10%);
  border-radius: 3px;
  padding: 1rem 1.5rem;

  &--post { //.c-card--post
    box-shadow: 0 3px 0 palette(teal);

    & + & { //.c-card--post + .c-card--post
      margin-top: 2.25rem;
    }
  }

  &--bio { //.c-card--author
    //bio-card styles, if needed
  }
}

.c-card--recipe {
  margin-top: modular-scale(1rem,4,1.5);

  h6:not(.c-card__title--recipe) {
    font-size: 1em;
    margin: 1rem auto .5rem 0;
  }

  ul {
    list-style-type: square;
    margin: 0 auto;
    padding: 0 0 0 1rem;
  }
}

.c-card__title {
  font: {
    family: $f-brand;
    size: modular-scale(1em,2,1.5);
    weight: 400;
  }
  margin: 0 auto;

  &--recipe { //.c-card__title--recipe
    // this header creates the 'tab' above our
    // printable recipe cards
    background: shade($c-white,2%);
    border: {
      top: 1px solid shade($c-white,10%);
      right: 1px solid shade($c-white,10%);
      bottom: 3px solid shade($c-white,2%);
      left: 1px solid shade($c-white,10%);
    }
    border-radius: 3px 3px 0 0;
    font: {
      family: $f-sans;
      size: modular-scale(1em,1,1.25);
      weight: 700;
    }
    margin: -3.75rem auto 0;
    padding: .5rem 1.5rem .25rem;

    @include bp($bp-alpha) {
      margin-left: 0;
      max-width: 48%;
    }
  }

  a {
    color: palette(teal);
    text-decoration: none;

    &:hover,&:focus {
      border-bottom: 1px dotted palette(teal);
    }
    &:active {
      border-bottom: {
        color: shade(palette(teal),8%);
        style: solid;
      }
      color: shade(palette(teal),8%);
    }
  }
}

.c-card__meta {
  font: {
    size: 85%;
    style: italic;
  }
  margin: .5rem auto;

  &--recipe {
    margin-top: 1rem;
  }
}

.c-card__text {
  margin: 1rem auto 0;
}

.c-card__name {
  font: {
    family: $f-brand;
    weight: 400;
  }
  margin: 1rem auto 0;
  text-align: center;
}

.c-card__img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 75%;
}
