// ----------
//
// card
//
// Main component for our 'card' ui. Currently there are
// two types of cards: '--post' and '--bio'.
//
// All elements and modifiers of the 'card' block belong
// in this file.
//
// ----------

.c-card {
  background: shade($c-white,2%);
  border: 1px solid shade($c-white,10%);
  border-radius: 3px;
  padding: 1rem 1.5rem;

  &--post { //.c-card--post
    box-shadow: 0 3px 0 palette(teal);

    & + & { //.c-card--post + .c-card--post
      margin-top: 2.25rem;
    }
  }

  &--bio { //.c-card--author
    //bio-card styles, if needed
  }
}

.c-card__title {
  font: {
    family: $f-brand;
    size: modular-scale(1em,2,1.5);
    weight: 400;
  }
  margin: 0 auto;

  a {
    color: palette(teal);
    text-decoration: none;

    &:hover,&:focus {
      border-bottom: 1px dotted palette(teal);
    }
    &:active {
      border-bottom: {
        color: shade(palette(teal),8%);
        style: solid;
      }
      color: shade(palette(teal),8%);
    }
  }
}

.c-card__meta {
  font: {
    size: 85%;
    style: italic;
  }
  margin: .5rem auto;
}

.c-card__text {
  margin: 1rem auto 0;
}

.c-card__name {
  font: {
    family: $f-brand;
    weight: 400;
  }
  margin: 1rem auto 0;
  text-align: center;
}

.c-card__img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 75%;
}
