// ----------
//
// post-card
//
// Post card container. This is used in our post-list
// to show the post title, meta-data, description,
// and 'read more' link
//
// ----------

.c-post-card {
  background: shade($c-white,2%);
  border: 1px solid shade($c-white,10%);
  border-radius: 4px;
  box-shadow: 0 3px 0 palette(teal);
  margin-bottom: 2.25rem;
  padding: 1rem 1.5rem;
}

.c-post-card__title {
  font: {
    family: $f-brand;
    size: modular-scale(1em,3,1.25);
    weight: 400;
  }
  margin: 0 auto;

  a {
    color: palette(teal);
    text-decoration: none;

    &:hover,&:focus {
      border-bottom: 2px dashed palette(teal);
    }
    &:active {
      border-bottom: {
        color: shade(palette(teal),8%);
        style: solid;
      }
      color: shade(palette(teal),8%);
    }
  }
}

.c-post-card__meta {
  font: {
    size: 85%;
    style: italic;
  }
}

.c-post-card__excerpt {
  margin-bottom: 0;
}
