---
layout: default
---
<article class="c-post">

  <header class="c-post__header">

    <h1 class="c-post__title">{{ page.title }}</h1>

    <p class="c-post__meta">
      <span>
        {{ page.date | date: "%b %-d, %Y" }}
      </span>
    </p>

    <p class="c-post__description">{{ page.description }}</p>

    <img class="c-post__featured-img" src="{{ page.image.url }}" alt="{{ page.image.alt }}">

  </header>

  <div class="s-post__content">

    {{ content }}

  </div>

</article>

<article class="c-card c-card--recipe" itemscope itemtype="http://schema.org/Recipe">

  <meta itemprop="url" content="{{ page.url }}">

  <h6 class="c-card__title c-card__title--recipe" itemprop="name">{{ page.title }}</h6>

  <p class="c-card__meta c-card__meta--recipe"> 
    <span>
      <meta itemprop="prepTime" content="PT{{ page.time.prep.iso }}">
      Prep time: {{ page.time.prep.real }}
    </span>
    <span>
      <meta itemprop="totalTime" content="PT{{ page.time.total.iso }}">
      Total time: {{ page.time.total.real }}
    </span>
    <span itemprop="recipeYield">
      Serves {{ page.yield }}
    </span>
  </p>

  <img class="u-hidden" itemprop="image" src="{{ page.image.url }}" alt="{{ page.image.alt }}">
  <p class="u-hidden" itemprop="description">{{ page.description }}</p>

  <h6>Ingredients</h6>
  <ul>
    {% for item in page.ingredients %}
      <li itemprop="ingredients">{{ item }}</li>
    {% endfor %}
  </ul>

  <h6>Instructions</h6>
  <ul itemprop="recipeInstructions">
    {% for item in page.instructions %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>

</article>
